body {
    font-size: 87.5%;
    margin: 0 auto;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*Header Css*/
header {
    background-color: #1d9cc8;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 100%;
}

/*Logo Image Css*/
#home-logo img {
    grid-column-start: 1;
    grid-column-end: 1;
    padding-top: 20px;
    padding-left: 40px;
    max-width: 20%;
    height: auto;

}

/*Flex for the menu Options*/
.flex-container {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: flex-start;
    grid-column-start: -1;
}

.flex-container>div {
    margin: 10px;
    padding: 0px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.dropbutton {
    background-color: #164154;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 6px 15px;
    text-decoration: none;
    display: block;
    font-family: monospace;
    border: 1px solid;
    font-size: 18px;

}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #164154;
}

a:focus,
a:hover {
    color: blue;
}

/*Aside for the hidden div*/
.dropBox {
    display: none;
}

.dropBox.open {
    display: block;
}

/*Toggle Button CSS*/
.toggleButton {
    width: 226px;
    margin-left: 11px;
    font-family: system-ui;
    font-style: italic;
    line-height: 25px;
    background-color: lightsteelblue;
    border-radius: 22px;
    padding: 10px;
    border: 3px #9A1C9A solid;
}

aside ul li a {
    text-decoration: auto;
}

/*Marquee */
.cssMarquee {
    border: 3px navy solid;
    margin: 12px;
    line-height: 30px;
    font-size: 15px;
    background-color: rgb(253, 241, 76);
    width: 100%;
    margin-top: 50px;
    border-radius: 10px;
}

.cssMarquee p {
    margin: -10px;
    margin-left: 28px;
    list-style: circle;
    display: list-item;
}

.cssMarquee p a {
    color: navy;
}

/*Main Content*/
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: #d5cccc;
}

#main-content {
    grid-column: span 2;
    padding-left: 0px;
    margin-right: 25px;
    margin-left: 28px;
}

aside {
    width: 80%;
    margin-top: 26px;
}

.li-flex {
    flex-direction: column;
    background-color: #f1f1f1bb;
    margin: 10px;
    padding: 0px;
    font-size: 20px;
    text-align: center;
    width: 248px;
    height: 60px;
    padding-top: 25px;
    border-radius: 12px;
    border: 3px navy solid;
}

#s1 {
    color: WHITE;
    background-color: darkblue;
    letter-spacing: 5px;
    margin-top: 14px;
    padding-bottom: 18px;
}

.main-p {
    margin-left: 50px;
    letter-spacing: 2px;
    padding-top: 14px;
    color: white;
}

ul li {
    list-style: none;
}

h1 {
    text-align: center;
    line-height: 50px;
    font-size: 43px;
    color: white;
    margin-left: 20px;
    padding-top: 1pc;
}

ol {
    color: white;
    padding-left: 113px;
    line-height: 25px;
}

a {
    color: darkblue;
    letter-spacing: 1px;
}

#s3 p {
    line-height: 34px;
    font-size: 22px;
    font-family: system-ui;
}

h4 {
    font-size: 23px;
}

/*Image -Overlay Slide */
.trade-image {
    width: 276px;
    height: 255px;
}

.imageside {
    position: relative;
    height: 255px;
    float: left;
    margin-right: 5px;
    margin-bottom: 15px;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #075E54;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.imageside:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    color: yellow;
    font-size: 18px;
    position: absolute;
    margin-top: 6%;
    margin-left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.image-ul {
    margin-top: 34px;
    margin-right: 14px;
}

.image-ul li {
    list-style: circle;
    color: white;
    font-size: 13px;
    font-weight: bolder;
    font-family: monospace;
}

/*Footer*/
footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #088F8F;
    height: auto;
    width: 100%;
    color: #fff;
    overflow: auto;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 0.5rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 30px;
    font-size: 18px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.socials li {
    margin: 0 10px;
    size: 3px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    padding: 10px;
}

.footer-bottom p a {
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span {
    opacity: .4;
    font-weight: 200;
}

.footer-menu {
    float: right;
}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #27bcda;
}

.login {
    width: 104%;
    height: 36px;
}

/*Media Queries */
@media only screen and (min-width:280px) and (max-width:653px) {
    aside {
        margin-left: -38px;
    }

}

@media only screen and (max-width: 479px) {
    #home-logo img {
        grid-column-start: 1;
        grid-column-end: 1;
        padding-top: 54px;
        padding-left: 27px;
        max-width: 60%;
        height: auto;
    }

    footer {
        height: 364px;
    }
}

@media only screen and (min-width:360px) and (max-width:740px) {
    .main-p {
        margin-left: 22px;
    }

    ol {
        padding-left: 73px;
    }

    aside {
        margin-left: 10px;
    }

    .trade-image {
        width: 300px;
    }

    .cssMarquee {
        margin-left: 25px;
    }

}

@media only screen and (min-width:375px) and (max-width:667px) {

    aside {
        margin-left: 10px;
    }

    .trade-image {
        width: 325px;
        height: 255px;
    }

    h1 {
        margin-left: 0px;
    }

    .main-p {
        margin-left: 14px;
    }

    ol {
        padding-left: 65px;
    }

    #s3 {
        margin-left: 10px;
    }

    .cssMarquee {
        margin-left: 25px;
    }
}



@media only screen and (min-width:390px) and (max-width:844px) {
    .trade-image {
        width: 340px;
    }
}

@media only screen and (min-width:414px) and (max-width:896px) {
    aside {
        margin-left: 25px;
    }

    .trade-image {
        width: 360px;
    }

    .cssMarquee {
        margin-left: 16px;
    }

}

@media only screen and (min-width:412px) and (max-width:915px) {
    aside {
        margin-left: 20px;
    }

    .trade-image {
        width: 359px;
    }

    #s3 {
        margin-left: 8px;
    }

    .cssMarquee {
        margin-left: 17px;
    }
}

@media only screen and (min-width:800px) and (max-width:1280px) {
    .trade-image {
        width: 261px;
    }
}

@media only screen and (min-width:600px) and (max-width:1024px) {
    .trade-image {
        width: 204px;
    }
}