body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: lightgray;
}

header {
    background-color: #1d9cc8;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 100%;
}

#home-logo img {
    grid-column-start: 1;
    grid-column-end: 1;
    padding-top: 20px;
    padding-left: 40px;
    max-width: 25%;
    /*need to change*/
    height: auto;

}

.flex-container {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: flex-start;
    /*maybe need to change*/
    grid-column-start: -1;
}

.flex-container>div {
    margin: 10px;
    padding: 0px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

/*Navigation Button*/
.dropbutton {
    background-color: #164154;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}

.dropdown-content a {
    color: black;
    padding: 6px 15px;
    text-decoration: none;
    display: block;
    font-family: monospace;
    border: 1px solid;
    font-size: 18px;

}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #164154;
}

.login {
    width: 104%;
    height: 36px;
}


/*main-content*/
main {
    display: grid;
    margin: 25px;
    grid-template-columns: 400px 1fr 1fr;
    grid-template-rows: 220px 550px 270px 240px 250px 300px;
    grid-gap: 16px;
    grid-template-areas:
        'menuimg1 calculateCapital1 calculateCapital1'
        'dayTrading1 dayTrading1 day-trading-img1'
        'investmentBusiness1 investmentBusiness1 investmentBusiness1'
        'nonProfessional1 nonProfessional1 nonProfessional1'
        'capitalGain1 capitalGain1 capitalGain1'
        'fliptesla1 appleflip1 flipnike1'
        'differentShares1 differentShares1 differentShares1'
        'form1 form1 form';
}


#calculateCapital {
    grid-area: calculateCapital1;
}

#menu-img {
    grid-area: menuimg1;
    display: flex;
    align-items: end;
}

.menu-content-img {
    width: 90%;
    height: 192px;
}

#dayTrading {
    grid-area: dayTrading1;
}

#day-trading-img {
    grid-area: day-trading-img1;
    display: flex;
    align-items: center;
}

#day-trading-content {
    width: 100%;
    height: 300px;
}

#investmentBusiness {
    grid-area: investmentBusiness1;
}

#nonProfessional {
    grid-area: nonProfessional1;
}

#capitalGain {
    grid-area: capitalGain1;
}

#fliptesla {
    grid-area: fliptesla1;
}

#appleflip {
    grid-area: appleflip1;
}

#flipnike {
    grid-area: flipnike1;
}

#differentShares {
    grid-area: differentShares1;
}

#flip-section {
    grid-area: flip-section1;
}

#form {
    grid-area: form1;
}



a {
    color: darkblue;
    letter-spacing: 1px;
}

.flip-card {
    width: 350px;
    height: 193px;
}

.flip-card-inner {
    position: relative;
    width: 105%;
    height: 159%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: brown;
    color: white;
    transform: rotateY(180deg);
}

* {
    box-sizing: border-box
}

.container {
    width: 100%;
    background-color: floralwhite;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.tesla {
    width: 90%;
    background-color: #bd0a0a;
}

.nike {
    width: 80%;
    background-color: black;
}

.apple {
    width: 65%;
    background-color: darkgrey;
}

.walmart {
    width: 60%;
    background-color: cornflowerblue;
}

#fname,
#lname,
#ename,
#phone,
#stock,
#password,
#confirm-password {
    width: 50%;
    height: 40px;
    border-radius: 12px;
}

legend {
    font-weight: bolder;
}

label {
    font-weight: bold;
}

#tax-button {
    width: 20%;
    height: 30px;
    margin-top: 10px;
    border-radius: 11px;
    font-weight: 900;
}



footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #088F8F;
    height: auto;
    width: 100%;
    color: #fff;
    overflow: auto;


}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 0.5rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 30px;
    font-size: 18px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.socials li {
    margin: 0 10px;
    size: 3px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    padding: 10px;
}

.footer-bottom p a {
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span {
    opacity: .4;
    font-weight: 200;
}

.footer-menu {
    float: right;
}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #27bcda;
}


@media only screen and (max-width: 479px) {
    #home-logo img {
        grid-column-start: 1;
        grid-column-end: 1;
        padding-top: 54px;
        padding-left: 27px;
        max-width: 90%;
        /*need to change*/
        height: auto;
    }

}

@media only screen and (min-width:337px) and (max-width:667px) {
    main {
        display: block;
        margin: 20px auto;
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 18px;

    }

    .flip-card {
        margin-bottom: 9pc;
        width: 315px;
        height: 193px;
    }

    .container {
        width: 93%;
    }

    form {
        width: 97%;
    }

    .footer-menu {
        font-size: 12px;
        margin-left: -6px;

    }

    #tax-button {
        width: 25%;
    }
}

@media only screen and (min-width:390px) and (max-width:844px) {
    form {
        width: 100%;
    }
}

@media only screen and (min-width:412px) and (max-width:914px) {
    main {
        margin-right: 16px;
    }

    .flip-card {
        margin-bottom: 9pc;
        width: 350px;
        height: 193px;
    }
}

@media only screen and (min-width:414px) and (max-width:896px) {
    form {
        width: 95%;
    }
}