body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: lightgray;
}

header {
    background-color: #1d9cc8;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 100%;
}

#home-logo img {
    grid-column-start: 1;
    grid-column-end: 1;
    padding-top: 20px;
    padding-left: 40px;
    max-width: 20%;
    /*need to change*/
    height: auto;

}
.login {
    width: 104%;
    height: 36px;
}

.flex-container {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: flex-start;
    grid-column-start: -1;
}

.flex-container>div {
    margin: 10px;
    padding: 0px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.dropbutton {
    background-color: #164154;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}

.dropdown-content a {
    color: black;
    padding: 6px 15px;
    text-decoration: none;
    display: block;
    font-family: monospace;
    border: 1px solid;
    font-size: 18px;

}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #164154;
}
h1{
    margin-left: 10px;
}
form{
    width: 60%;
    margin: 0 auto 20px;
}
#fname,#lname,#ename,#phone,#stock,#password, #confirm-password{
    width: 50%;
    height: 40px;
    border-radius: 12px;
}
#field-set-one{
    text-align: center;
}
legend{
    font-weight: bolder;
}
label{
    font-weight: bold;
}

#buttonsubmit{
    width: 20%;
    height: 30px;
    margin-top: 10px;
    border-radius: 11px;
    font-weight: 900;
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #088F8F;
    height: auto;
    width: 100%;
    color: #fff;
    overflow: auto;


}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 0.5rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 30px;
    font-size: 18px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.socials li {
    margin: 0 10px;
    size: 3px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    padding: 10px;
}

.footer-bottom p a {
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span {
    opacity: .4;
    font-weight: 200;
}

.footer-menu {
    float: right;
}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #27bcda;
}

.login {
    width: 104%;
    height: 36px;
}

@media only screen and (min-width:375px) and (max-width : 667px) {
    #buttonsubmit{
        width: 40%;
    }
    #home-logo img {
        padding-top: 42px;
        padding-left: 17px;
        max-width: 60%;
    }
    h1{
        margin-left: 10px;
    }
    form {
        width: 85%;
    }
    #fname, #lname, #ename, #phone, #stock, #password, #confirm-password {
        width: 70%;
    }
}

@media only screen and (min-width:360px) and (max-width:740px)
{
    #buttonsubmit{
        width: 40%;
    }
    #home-logo img {
        padding-top: 42px;
        padding-left: 17px;
        max-width: 60%;
    }
    h1{
        margin-left: 10px;
    }
    form {
        width: 80%;
    }
    #fname, #lname, #ename, #phone, #stock, #password, #confirm-password {
        width: 70%;
    }
}

@media only screen and (min-width:390px) and (max-width:844px)
{
    form {
        width: 83%;
    }
}

@media only screen and (min-width:393px) and (max-width:851px)
{
    #fname, #lname, #ename, #phone, #stock, #password, #confirm-password {
        width: 70%;
    }
}


@media only screen and (min-width:414px) and (max-width:896px)
{
    form {
        width: 84%;
    }
}